In [37]:
import pandas as pd
import numpy as np

# Load your CSV data (you can replace this with pd.read_csv('filename.csv') if from file)
df_logeps = pd.read_csv("/Users/ayelland/Research/metal-poor-stars/spag/spag/data/abundance_tables/sbordone2007/table456a.csv")

# Extract the list of star IDs from the first row (excluding the first two columns)
star_ids = df_logeps.columns[1:].to_list()
sun_col = star_ids[0]
star_ids = star_ids[1:]

# Create column groupings: every pair (logepsX, e_logepsX)
star_pairs = [(star_ids[i], star_ids[i+1]) for i in range(0, len(star_ids), 2)]
print(star_pairs)

# Initialize the output list
records = []

# Loop through each species (row)
for idx, row in df_logeps.iterrows():
    if idx == 0: continue
    species = row['Species']
    logepsX_sun = row[sun_col]

    for star, (log_col, err_col) in zip(star_pairs, star_pairs):
        star_id = int(log_col)  # e.g., 432, 628
        logeps = row[log_col]
        e_logeps = row[err_col]

        records.append({
            'StarID': star_id,
            'Species': species,
            'logepsX_sun': logepsX_sun,
            'logepsX': logeps,
            'e_logepsX': e_logeps
        })

# Convert to a DataFrame
df_logeps_long = pd.DataFrame.from_records(records)

# Optionally sort and reset index
df_logeps_long = df_logeps_long.sort_values(['StarID']).reset_index(drop=True)

# Display or export
display(df_logeps_long.head(50))
df_logeps_long.to_csv("/Users/ayelland/Research/metal-poor-stars/spag/spag/data/abundance_tables/sbordone2007/table456a_long.csv", index=False)

[('432', '432.1'), ('628', '628.1'), ('635', '635.1'), ('656', '656.1'), ('709', '709.1'), ('716', '716.1'), ('717', '717.1'), ('772', '772.1'), ('867', '867.1'), ('879', '879.1'), ('894', '894.1'), ('927', '927.1'), ('1272', '1272.1'), ('1282', '1282.1'), ('1515', '1515.1'), ('1665', '1665.1'), ('1708', '1708.1')]

    StarID Species logepsX_sun logepsX e_logepsX
0      432     O I        8.72    8.03       NaN
1      432   Ce II        1.58    0.78       NaN
2      432    Mg I        7.58    6.64      0.01
3      432     V I        4.00     NaN       NaN
4      432    Co I        4.92    3.69      0.15
5      432   La II        1.13    0.50      0.14
6      432    Zn I        4.60    3.45       NaN
7      432   Fe II        7.50    6.67      0.12
8      432    Ti I        5.02    4.01      0.08
9      432   Ba II        2.13    1.49       NaN
10     432    Si I        7.55    6.66      0.17
11     432   Sc II        3.17    2.04       NaN
12     432    Y II        2.24    0.88      0.11
13     432    Ca I        6.36    5.48      0.08
14     432    Cu I        4.21    2.29       NaN
15     432    Ni I        6.25    4.91      0.01
16     432   Cr II        5.67     NaN       NaN
17     432    Al I        6.47     NaN       NaN
18     432     S I         NaN     NaN       NaN
19     432    Fe I        7.50    6.61      0.12
20     432    Na I        6.33     NaN       NaN
21     432    Mn I        5.39    4.20       NaN
22     432   Nd II        1.50    0.84      0.22
23     628   La II        1.13    1.74      0.02
24     628    Fe I        7.50    7.22      0.13
25     628    Al I        6.47     NaN       NaN
26     628    Ti I        5.02    4.44      0.15
27     628    Mn I        5.39    4.83       NaN
28     628   Ba II        2.13    2.27       NaN
29     628    Si I        7.55    7.30      0.10
30     628    Ni I        6.25    5.61      0.08
31     628   Sc II        3.17    2.20       NaN
32     628    Y II        2.24    1.73      0.15
33     628    Ca I        6.36    5.83      0.15
34     628     O I        8.72    8.35       NaN
35     628    Cu I        4.21    3.06       NaN
36     628     S I         NaN     NaN       NaN
37     628    Zn I        4.60     NaN       NaN
38     628    Co I        4.92    4.15      0.06
39     628     V I        4.00    3.35      0.16
40     628    Na I        6.33    5.81      0.08
41     628   Nd II        1.50    1.63      0.20
42     628   Fe II        7.50    7.23      0.11
43     628    Mg I        7.58    7.16      0.12
44     628   Ce II        1.58    1.58      0.02
45     628   Cr II        5.67     NaN       NaN
46     635    Ti I        5.02    4.13      0.14
47     635    Ni I        6.25    5.44      0.15
48     635    Y II        2.24    1.64      0.05
49     635    Si I        7.55    7.12      0.11

In [36]:
import pandas as pd
import numpy as np

# Load your CSV data (you can replace this with pd.read_csv('filename.csv') if from file)
df = pd.read_csv("/Users/ayelland/Research/metal-poor-stars/spag/spag/data/abundance_tables/sbordone2007/table456b.csv")

# Extract the list of star IDs from the first row (excluding the first two columns)
star_ids = df.columns[1:].to_list()
print(star_ids)

# sun_col = star_ids[0]
# star_ids = star_ids[1:]

# Create column groupings: every pair (logepsX, e_logepsX)
star_pairs = [(star_ids[i], star_ids[i+1]) for i in range(0, len(star_ids), 2)]
print(star_pairs)

# Initialize the output list
records = []

# Loop through each species (row)
for idx, row in df.iterrows():
    if idx == 0: continue
    species = row['Species']


    for star, (log_col, err_col) in zip(star_pairs, star_pairs):
        star_id = int(log_col)  # e.g., 432, 628
        xfe = row[log_col]
        e_xfe = row[err_col]

        records.append({
            'StarID': star_id,
            'Species': species,
            # 'logepsX_sun': logepsX_sun,
            '[X/Fe]': xfe,
            'e_[X/Fe]': e_xfe
        })

# Convert to a DataFrame
df_long = pd.DataFrame.from_records(records)

# Optionally sort and reset index
df_long = df_long.sort_values(['StarID']).reset_index(drop=True)

# Display or export
display(df_long.head(50))
df_long.to_csv("/Users/ayelland/Research/metal-poor-stars/spag/spag/data/abundance_tables/sbordone2007/table456b_long.csv", index=False)

['432', '432.1', '628', '628.1', '635', '635.1', '656', '656.1', '709', '709.1', '716', '716.1', '717', '717.1', '772', '772.1', '867', '867.1', '879', '879.1', '894', '894.1', '927', '927.1', '1272', '1272.1', '1282', '1282.1', '1515', '1515.1', '1665', '1665.1', '1708', '1708.1']
[('432', '432.1'), ('628', '628.1'), ('635', '635.1'), ('656', '656.1'), ('709', '709.1'), ('716', '716.1'), ('717', '717.1'), ('772', '772.1'), ('867', '867.1'), ('879', '879.1'), ('894', '894.1'), ('927', '927.1'), ('1272', '1272.1'), ('1282', '1282.1'), ('1515', '1515.1'), ('1665', '1665.1'), ('1708', '1708.1')]

    StarID       Species [X/Fe] e_[X/Fe]
0      432   [O I/Fe II]   0.14      NaN
1      432         Ce II   0.03      NaN
2      432          Mg I  -0.05     0.12
3      432           V I    NaN      NaN
4      432          Co I  -0.34     0.19
5      432         La II   0.20     0.18
6      432          Zn I  -0.26      NaN
7      432  [Fe II/Fe I]   0.06     0.17
8      432          Ti I  -0.12     0.14
9      432         Ba II   0.19      NaN
10     432          Si I   0.00     0.21
11     432         Sc II  -0.30      NaN
12     432          Y II  -0.53     0.16
13     432          Ca I   0.01     0.14
14     432          Cu I  -1.03      NaN
15     432          Ni I  -0.45     0.12
16     432         Cr II    NaN      NaN
17     432          Al I    NaN      NaN
18     432           S I    NaN      NaN
19     432      [Fe I/H]  -0.89     0.12
20     432          Na I    NaN      NaN
21     432          Mn I  -0.30      NaN
22     432         Nd II   0.17     0.25
23     628         La II   0.88     0.11
24     628      [Fe I/H]  -0.28     0.13
25     628          Al I    NaN      NaN
26     628          Ti I  -0.30     0.20
27     628          Mn I  -0.28      NaN
28     628         Ba II   0.41      NaN
29     628          Si I   0.03     0.16
30     628          Ni I  -0.36     0.15
31     628         Sc II  -0.70      NaN
32     628          Y II  -0.24     0.19
33     628          Ca I  -0.25     0.20
34     628   [O I/Fe II]  -0.10      NaN
35     628          Cu I  -0.87      NaN
36     628           S I    NaN      NaN
37     628          Zn I    NaN      NaN
38     628          Co I  -0.49     0.14
39     628           V I  -0.37     0.21
40     628          Na I  -0.24     0.15
41     628         Nd II   0.40     0.23
42     628  [Fe II/Fe I]   0.01     0.17
43     628          Mg I  -0.14     0.18
44     628         Ce II   0.27     0.11
45     628         Cr II    NaN      NaN
46     635          Ti I  -0.53     0.18
47     635          Ni I  -0.45     0.19
48     635          Y II  -0.29     0.18
49     635          Si I  -0.07     0.16